<p id="notice"><%= notice %></p>
 <body style="background-color: #C0392B">
   <center>
<font face="Sans-serif" color="white" >
<h1>Listing Politicians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>State</th>
      <th>Party</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @politicians.each do |politician| %>
      <tr>
        <td><%= politician.name %></td>
        <td><%= politician.position %></td>
        <td><%= politician.state %></td>
        <td><%= politician.party %></td>
        <td><%= politician.age %></td>
        <td><%= link_to 'Show', politician %></td>
        <td><%= link_to 'Edit', edit_politician_path(politician) %></td>
        <td><%= link_to 'Destroy', politician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>
</font>
<%= link_to 'Want to suggest further research on a specific politician?', new_politician_path %>
