<!DOCTYPE html>

<link type=”text/css” rel=”stylesheet” href=”politicians.css”/>
<html>
  <body>
<p>
  <strong>What's his/her Name?</strong>
  <%= @politician.name %>
</p>

<p>
  <strong>What's his/her Position?</strong>
  <%= @politician.position %>
</p>

<p>
  <strong>What State does he/she represent?</strong>
  <%= @politician.state %>
</p>


<div><%= render "fave_form" if user_signed_in? %></div>


<p>
  <strong>What Party does he/she belong to?</strong>
  <%= @politician.party %>
</p>

<p>
  <strong>Age?</strong>
  <%= @politician.age %>
</p>

<p>
  <strong>List of Legislations</strong>
  <%= @politician.legislations %>
</p>

<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
</body>
</html>